body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-image: linear-gradient(to bottom right, #3498db, #f39c12);
  min-height: 100vh;
  color: #fff;
}

.navigation {
  color: #fff;
  font-size: 1.4em;
  height: 45px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation p {
  margin: 0;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
}

.navigation ul li:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.goals {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 400px;
  margin: 0 auto;
}

.goal {
  width: 100%;
  border-bottom: 1px solid #2c3e50;
  display: flex;
  flex-direction: column;
}

.goal:first-child {
  border-top: 1px solid #2c3e50;
}
.goal a {
  margin: 0;
  padding: 0;
}

.goal-header {
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.goal-header h3 {
  margin: 0;
  padding: 0;
  width: 40%;
}

.goal-header p {
  width: 30%;
}
.goal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.goal-body {
  margin: 2em;
}

.dashboard {
  height: 95vh;
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-quote {
  width: 60vw;
  margin-bottom: 4em;
}
.dashboard-quote h4 {
  width: 100%;
}

.goal-form {
  margin: auto;
  width: 60%;
}